.divider {
    width: 20%;
    height: 1px;
    background-color: #c5cace;
}
.rating-box {
    height: 80vh;
}
.rating-body {
    height: 100px;
}
.submit-button {
    width: 100px;
    height: 40px;
}